/* body, html {
    height: 100%;
    }
    .bg {
    background-image: url("../assets/profile.jpeg");
    height: 100vh;
    width: 100%;

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    } */